@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor;

<h2>Flavor Details</h2>
<hr />
<h3>Flavor Name: @Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>This Flavor has no listed treats.</p>
}
else
{
  <h4>This flavor goes with the following treats:</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Treat.TreatName</li>
  }
  </ul>
}


<p>@Html.ActionLink("Add a Treat to this flavor", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back to Flavors", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p> 

@using (Html.BeginForm("LogOff", "Account"))
{
  <input type="submit" class="btn btn-default" value="Log out" />
}